.on-hover:hover {
	&.scale-picture {
		& > .picture {
			transform:scale(1.2);
		}
	}
	&.movehorizarrow {
		&.left > .picture {
			transform:translateX(-50%);
		}
		&.right > .picture {
			transform:translateX(50%);
		}
	}
	
	&.by-color {
		transition:all @trans-speed ease;
		
		.w2o {
			#site.color(@c-hex-page-order-submit-bg);
			#site.bg(@c-hex-w);
			
			&:hover {
				display:inline-block;
				#site.color(@c-hex-w);
				#site.bg(@c-hex-page-order-submit-bg);
			}
		}
		
		.o2w {
			#site.bg(@c-hex-page-order-submit-bg);
			#site.color(@c-hex-w);
			
			&:hover {
				display:inline-block;
				#site.bg(@c-hex-w);
				#site.color(@c-hex-page-order-submit-bg);
			}
		}
	}
}

.hover-color {
	transition:all @trans-speed / 2 ease;
	
	&:hover {
		background-color:#ecbc2d !important;
		color:@c-hex-w !important;
	}
	
	&.inv {
		&:hover {
			background-color:@c-hex-w !important;
			color:#ecbc2d !important;
		}
	}
}

.to-left {
	float:left;
	width:33%;
	
	@media @media-size-xs {
		& {
			width:100%;
		}
	}
	@media @media-size-sm {
		& {
			width:100%;
		}
	}
	@media @media-size-md {
		
	}
	@media @media-size-lg {
		
	}
}
.to-right {
	float:right;
	width:66%;
	
	@media @media-size-xs {
		& {
			width:100%;
		}
	}
}

ul.drd-list {
	display:none;
}



.h {
	height:0px;
}
.h210 {
	height:210px;
}
.h360 {
	height:360px;
}
.h375 {
	height:375px;
}
.h380 {
	height:380px;
}
.h430 {
	height:430px;
}
.h450 {
	height:450px;
}
.h480 {
	height:480px;
}
.h580 {
	height:580px;
}
.h700 {
	height:700px;
}
.h780 {
	height:780px;
}
.h830 {
	height:830px;
}
.h1163 {
	height:1163px;
	
	@media @media-size-xs {
		& {
			height:400px;
		}
	}
}


.h430, .h450, .h480, .h580, .h700, .h780, .h830 {
	
	@media @media-size-xs {
		& {
			height:360px;
		}
	}
	@media @media-size-sm {
		& {
			height:480px;
		}
	}
	@media @media-size-md {
		
	}
	@media @media-size-lg {
		
	}
}

.bottom {
	bottom:0;
}
.bottom-44 {
	bottom:4.4em;
}

.font {

}
.font-gb {
	font-family:gb;
}
.font-gm {
	font-family:gm;
}
.font-gl {
	font-family:gl;
}
.font-gr {
	font-family:gr;
}
.font-abi {
	font-family:abi;
}

iframe.embed {
	min-height:500px;
	width:100%;
	margin:0;
	padding:0;
	border:none;
}

.mb-20 {
	margin-bottom:20px;
}